<< block 'head' : >>
{% set my_service_client = aek.get_service("GET_CREDENTIALS") %}
{% set credentials = my_service_client.user_credentials %}
<script type="value" id="cmUsername"> {{ credentials.username }} </script>

<< end >>

<<
@configure
  title:"Griz Walk"
  scripts:[
    {
      "dev":"https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js",
      "prod":"https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"
    }
    "main"
  ]
  stylesheets:[
    "main"
  ]

  connected: true
>>

<< extend "templates/master.ect" >> t" >>