@import "imports/aek-css-config";

// additional styles below

img {
max-width: 100%;
}

button {
background: #5E001D;
color: #FFFFFF;
width: 160px;
height: 60px;
font-size: 1.2em;
    ui.button {

    }
}

h1.ui.header.alt.banner {
background: #5E001D;
}

button a {
color: #FFFFFF;
}

.button-container {
text-align: center
}
